@font-face{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  font-family:'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
}
* {
  outline: dashed 1px salmon;
  outline-offset: -1px;
 }
h1{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: rgb(27 56 82);
  text-transform: uppercase;
}
h3{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
}
p{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(27 56 82);
}
ul{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  list-style-type: none;
}

a:link{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
  text-decoration:none;
}
a:visited{
  color: rgb(27 56 82);
}
button{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 4px solid;
  padding: 1px 0px;
  height: max-content;
}
img{ 
}

.headshot img{
  border-top: solid 4px rgb(27 56 82);
  border-bottom: solid 4px rgb(27 56 82);
}
}
.mobile_menu{
  padding: 8px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      
}
@media screen and (min-width: 500px){
    h1{
      font-size: 32px;
      padding: 8px 8px;
      }
    p{
      font-size:14px;
      line-height: 150%;
    }
.header{ 
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 72px;
  align-items: center;
  border-bottom: solid 4px rgb(27 56 82);
  overflow: hidden;
}
    .site-header__navigation{
      display: none;
    }
    .mobile_menu{
      display: block;
    position: relative;
    justify-content: center;
    padding: 20px 96px;
    width: 100%;
    border-left: solid 4px rgb(27 56 82);
    }
    .site-header__logo{
      display: block;
      position: relative;
      padding: 16px 112px 16px 18px;
      width: 100%;
    }
    .site-header__logo img{
      display: block;
      max-width: 120px;
    }
    .vertical_caption{
      display:none;
    }
    .button_style{ 
    }
}
#headshot_caption{
  display: none;
}
#mobile_salutations{
 text-align: center;
 padding: 24px 24px;
}
.about_me{
  text-align: center;
  padding: 16px 32px 72px 16px;
  overflow: hidden;
}
#desktop_introduction{
  display: none;
}
#mobile_introduction{
;
}
#introduction_paragraph{
  display: block;
  border-bottom: solid 4px rgb(27 56 82);
  margin: 0px -10% 0px -10%;
}
.latest_obsessions{
  display: grid;
  grid-auto-columns: auto auto auto;
  grid-gap: 4px;
  border-left: solid 4px rgb(27 56 82);
  border-bottom: solid 4px rgb(27 56 82);
  padding: 16px 0px;
}
.currently{
  display: grid;
  text-align: left;
  padding: 16px 16px 16px 0px;
  grid-template-columns: 208px auto;
}
.currently img{
  border-top: solid 4px rgb(27 56 82);
  border-right: solid 4px rgb(27 56 82);
  border-bottom: solid 4px rgb(27 56 82);

  padding: 0;
}
#wait_more_button{
  text-align: right;
    display: block;
    padding: 8px 16px;
}
}
.footer{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 72px;
  align-items: center;
}
