@charset "UTF-8";
@font-face{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap"
}
@font-face{
  font-family:'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700&display=swap"
}

body{
  min-height: max-content;
}
h1{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: rgb(27 56 82);
  text-transform: uppercase;
  padding: 8px 8px;
  line-height: 150%;
}
h2{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial, sans-serif';
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 24px;
  line-height: 150%;
}
h3{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
  line-height: 150%;
}
p{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  color: rgb(27 56 82);
  font-size:14px;
  line-height: 150%;
}

ul{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  list-style-type: none;
}

a:link{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
  text-decoration:none;
}
a:visited{
  color: rgb(27 56 82);
}

button{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 4px solid;
  padding: 1px 0px;
  height: max-content;
  width: max-content;
}
button :focus{
  outline: 4px dotted rgb(99 79 136);
      outline-offset: 2px;
    }

  
@media screen and (min-width: 480px){
.header{ 
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 72px;
  align-items: center;
  border-bottom: solid 4px rgb(27 56 82);
  overflow: hidden;
}

.site-header__navigation{
    display: none;
    }
    .site-header__navigation :focus{
      outline: 4px dotted rgb(99 79 136);
      outline-offset: 2px;
    }

.mobile_navigation{
    display: block;
    position: relative;
    justify-content: center;
    padding: 20px 96px;
    width: 100%;
    border-left: solid 4px rgb(27 56 82);
    flex-direction: column;
    align-items: center;
    }
    .mobile_navigation :focus{
      outline: 4px dotted rgb(99 79 136);
      outline-offset: 2px;
    }
    .mobile_navigation_exit{
    display: block;
    position: relative;
    justify-content: center;
    padding: 20px 56px;
    width: 100%;
    border-left: solid 4px rgb(27 56 82);
    flex-direction: column;
    align-items: center;
    }
    .mobile_navigation_exit :focus{
      outline: 4px dotted rgb(99 79 136);
      outline-offset: 2px;
    }
    .mobile_navigation_menu{
      display: block;
      position: relative;
      padding: 24px 256px 34px 24px;
      width: 100%;
    }
    .site-header__logo{
      display: block;
      position: relative;
      padding: 16px 80px 16px 24px;
      width: 100%;
    }

    .site-header__logo img{
      display: block;
      max-width: 120px;
    }

    .vertical_caption{
      display:none;
    }
    .horizontal_caption{
      display: none;
    }
.mobile_hero{
  display: block;
  width:100%
}
.mobile_hero img{
  border-bottom: solid 4px rgb(27 56 82);
}
.hero_image_mobile{
  border-bottom: solid 4px rgb(27 56 82); 
}
.headshot img{
  border-top: solid 4px rgb(27 56 82);
  border-bottom: solid 4px rgb(27 56 82);
}
.photography_title{
  display: none;
}
#headshot_caption{
  display: none;
}
#mobile_salutations{
 text-align: center;
 padding: 24px 24px;
}
.menu_items{
  display: block;
  padding: 8px 0px 8px 24px;
  border-bottom: solid 4px rgb(27 56 82);
}
.menu_items:hover{
  background-color: rgb(27 56 82);
}
.menu_items a:focus{
  outline: 4px dotted rgb(99 79 136);
  outline-offset: 2px;
}

.menu_items a{
  margin: 10px 0px 8px -24px;
  padding: 14px 280px 10px 24px;
}

.menu_items a:hover{
  color: rgb(250 212 203);
}

.details{
  display: block;
  padding: 8px 24px;
  border-bottom: solid 4px rgb(27 56 82);
}
.simple_paragraph{
  margin: 0;
  padding: 0 24px 24px 24px;
}
.simple_paragraph h1{
  padding: 24px 0 16px 0;
}
.simple_paragraph_placeholder{
  margin: 0;
  padding: 0 24px 24px 24px;
}
.about_me{
  text-align: center;
  padding: 0px 32px 72px 24px;
  overflow: hidden;
  display: block;
}
#desktop_introduction{
  display: none;
}

#introduction_paragraph{
  display: block;
  border-bottom: solid 4px rgb(27 56 82);
  margin: 0px -10% 0px -10%;
  padding-top: 16px;
}
#introduction_paragraph p{
  margin: 0px 64px 24px 64px;
}

.latest_obsessions{
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-gap: 4px;
  border-left: solid 4px rgb(27 56 82);
  padding: 16px 0px;
}

.latest_obsessions h2:first-child{
  text-transform: uppercase;
  padding: 8px 0;
}

.square_image_mobile_grid{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 16px;
  padding: 16px 0;
}
.square_image_mobile{
  border: solid 4px rgb(27 56 82);
  padding: 0;
  min-width: 100%;
}

.currently{
  display: grid;
  text-align: left;
  padding: 16px 0px;
  grid-template-columns: 208px auto;
  grid-column-gap: 16px;
}

.currently img{
  border-top: solid 4px rgb(27 56 82);
  border-right: solid 4px rgb(27 56 82);
  border-bottom: solid 4px rgb(27 56 82);
  padding: 0;
  min-width: 100%;
}

#wait_more_button{
  text-align: right;
  display: block;
  padding: 4px 72px 16px 16px;
  margin: 0px -10% 0px 0px;
  border-bottom: solid 4px rgb(27 56 82);
  border-left: solid 4px rgb(27 56 82);
}
#wait_more_button :focus{
  outline: 4px dotted rgb(99 79 136);
  outline-offset: 2px;
}
.site-footer__logo{
  display: none;
}

.reference{
  margin: 0;
  padding: 0 24px 56px 24px;
}

.reference h1{
  padding: 16px 0;
}

.reference p{
  padding: 4px 0;
}

.giant_quote{
  font-size: 144px;
  padding: 0 0 24px 0;
  max-height: 50px;
  margin: 8px 24px 24px 0px;
  text-align: left;
  line-height: 0.9;
}
.footer{
  border-top: solid 4px rgb(27 56 82);
  display: block;
  align-items: center;
  position: relative;
  height: 89px;
  bottom: 0;
  left: 0;
  width: 100%
}
.footer :focus{
  outline: 4px dotted rgb(99 79 136);
  outline-offset: 2px;}

.attributions{
  display: inline-block;
  border-left: solid 4px rgb(27 56 82);
  width: auto;
  height: max-content;
}
.attributions div{
  padding: 20px 18px;
  max-width: max-content;
}
.footer_menu_page {
  border-top: solid 4px rgb(27 56 82);
  display: flex;
  align-items: center;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-height: 25%;
}
.interactive-icons{
  display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 32px;
    grid-row-gap: 32px;
    padding: 32px;
}
.interactive-icons :focus{
  outline: 4px dotted rgb(99 79 136);
  outline-offset: 2px;
}
#icon_padding{
  padding: 24px 36px;
  height: max-content;
}
}
@media screen and (min-width: 511px){
  #icon_padding{
    padding: 27px 48px;
    height: max-content;
  }
  .footer_grid{
    max-height: 70px;
  }
  
}
@media screen and (min-width: 768px){
  h1{
    font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(27 56 82);
    text-transform: uppercase;
    padding: 8px 8px;
    line-height: 150%;
  }
  h2{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial, sans-serif';
    font-weight: 700;
    color: rgb(27 56 82);
    font-size: 24px;
    line-height: 150%;
  }
  h3{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 700;
    color: rgb(27 56 82);
    font-size: 18px;
    line-height: 150%;
  }
  p{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 500;
    color: rgb(27 56 82);
    font-size:16px;
    line-height: 150%;
  }
  .about_me{
    text-align: center;
    padding: 0px 32px 72px 32px;
    overflow: hidden;
    display: block;
  }
  .attributions{
    display: inline-block;
    border-left: solid 4px rgb(27 56 82);
    height: max-content;
    width: max-content;
  }
  .attributions div{
    padding: 32px;
  }
  #icon_padding{
    padding: 42px 48px;
    height: max-content;
    align-items: center;
  }
  .currently{
    display: grid;
    text-align: left;
    padding: 16px 0px;
    grid-template-columns: 264px auto;
    grid-column-gap: 16px;
  }
}
@media screen and (min-width: 1024px){
  h1{
    font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(27 56 82);
    text-transform: uppercase;
    padding: 8px 8px;
    line-height: 150%;
  }
  h2{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial, sans-serif';
    font-weight: 700;
    color: rgb(27 56 82);
    font-size: 24px;
    line-height: 150%;
  }
  h3{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 700;
    color: rgb(27 56 82);
    font-size: 18px;
    line-height: 150%;
  }
  p{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 500;
    color: rgb(27 56 82);
    font-size:16px;
    line-height: 150%;
  }
  
  ul{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 700;
    color: rgb(27 56 82);
    list-style-type: none;
  }
  
  a:link{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 700;
    color: rgb(27 56 82);
    font-size: 18px;
    text-decoration:none;
  }
  a:visited{
    color: rgb(27 56 82);
  }
  
  button{
    font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 4px solid;
    padding: 1px 0px;
    height: max-content;
    width: max-content;
  }
  footer{
    height: 300px;
  }
      .mobile_navigation{
        display:none;
      }
      .site-header__navigation{
        display: inline-block;
        border-left: solid 4px rgb(27 56 82);
      padding: 24px;
      }
      .navigation__item{
        display: inline-block;
      }
      #mobile_salutations{
        display: none;
      }
      #introduction_paragraph{
      display: none;
      }
      
      #desktop_introduction{
        display: block;
        text-align: left;
      }
      .homepage_body{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "a b";
      }
      .headshot{
        grid-area: a;
      }
      .headshot figure{
        width: 100%;
        padding: 0;
        margin: 0;
      }
      #headshot_caption{
        display: block;
      }
      .vertical_caption{
        display: block;
      }
      .horizontal_caption{
        display: block;
      }
      .simple_paragraph_placeholder{
        padding: 339px 86px 24px 108px;
      }
      .about_me{
        grid-area: b;
      }
      .square_image_mobile_grid{
        display: none;
      }
      .square_image_mobile{
        display: none;
      }
      .latest_obsessions{
       display: block;
       max-width: fit-content;
       border-left: none;
      }
      
      .latest_obsessions h2:first-child{
        text-transform: uppercase;
        padding: 8px 0;
      
      }
      .currently{
        display: inline-block;
        text-align: left;
        padding: 16px 0px;

      }
      
      .currently img{
        border-top: solid 4px rgb(27 56 82);
        border-right: solid 4px rgb(27 56 82);
        border-bottom: solid 4px rgb(27 56 82);
        padding: 0;
        min-width: 100%;
      }
      #wait_more_button{
        text-align: right;
        display: block;
        padding: 4px 72px 16px 16px;
        margin: -62px -3% 2px 0px;
        border-bottom: solid 4px rgb(27 56 82);
        border-left: none;
      }
      .footer_grid{
        display: grid;
        grid-template-columns: auto auto auto;
        max-height: 25%;
      }
      .attributions{
        display: inline-block;
        border-left: solid 4px rgb(27 56 82);
        height: max-content;
        width: max-content;
      }
      .attributions div{
        padding: 24px;
        margin-bottom: 8px;
      }
      #icon_padding{
        border-left: solid 4px rgb(27 56 82);
        padding: 37px 48px;
        height: max-content;
        align-items: center;
      }
      .site-footer__logo{
        display: inline-block;
        position: relative;
        padding: 16px 376px 16px 24px;
        width: 100%;
        margin-top: 24px;
      }
  
      .site-footer__logo img{
        display: block;
        max-width: 120px;
      }
    }
