@font-face{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  font-family:'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
}
h1{
  font-family:'Nova Flat', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: rgb(27 56 82);
}
h3{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
}
p{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(27 56 82);
}
ul{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  list-style-type: none;
}

a:link{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  color: rgb(27 56 82);
  font-size: 18px;
  text-decoration:none;
}
button{
  font-family: 'Darker Grotesque', 'Helvetica', 'Arial',sans-serif;
  font-weight: 700;
  font-size: 18px;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3){
    h1{
      font-size: 24px;
      }
    p{
      font-size:14px;
    }
    
}